.Team .Teammate {
  background-color: darkgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 95%; }

.teammate-name,
.teammate-tally,
.teammate-posted,
h5, p {
  margin: 0; }

.Teammate ul {
  width: 50%; }

.Teammate li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
