.SideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: grey;
}

.user-pic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding-bottom: 5px;
}

.user-name {
  margin: 10px auto;
}

.user-profile {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.sidenav-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SideNav a {
  width: 100px;
  height: 30px;
  text-decoration: none;
  margin-top: 10px;
}

.sidenav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border: none;
  background: lightgrey;
  border-radius: 10px;
}

.sidenav-btn h4 {
  margin: 0px;
}

.sidenav-btn:hover {
  color: white;
  background: #48E0EA;
}