.Control {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Control-input {
  margin-bottom: 15px;
}

.login-btn {
  border: none;
}

.login-btn:hover {
  background-color: #48E0EA;
  color: white;
}